<footer>
    <p >© 2024 by Kaito Kid     !<img src="/images/magicKaitoSignature.png" alt="a pic" style="width: 5%;
        display: inline-block;
        transform: rotate(10deg);
        padding-left: 3rem;">  </p>

</footer>