<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<link rel="icon" href="/images/magicKaitoSignature.png">
<header>
    <nav>
        <a href="/eShop/index">Index</a> 
        <a href="/eShop/about">About</a> 
        <a href="/eShop/product">Product</a>
        <a href="/eShop/category">category</a>
        <a href="/eShop/customer">customers</a>
        <a href="/eShop/order"> Orders</a>

    </nav>
</header>