<%- include("../eShopPartials/header", {title: title}); %>

<p>inside About.ejs</p>
<h1> the devs: Karam Matar and Abduvohid Ilhomov</h1>
<h1>acronym: kamt23 och abil23 </h2>



<%- include("../eShopPartials/footer"); %>
