<%- include ("../eShopPartials/header", {title:title});  %>  <!-- kommer synas på skärmen som html... -->

<h1>Welcome to the e-shop</h1>

<h3>What do you want to do?</h3>
<p> you may check the different catagories and products</p>



<%- include("../eShopPartials/footer"); %>

